*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    overflow: hidden;
}

header{
    width: 100%;
    height: 725px;
    background: #373B44;  
    background: linear-gradient(to right, hsl(133deg 85% 56% / 52%), hsl(58deg 77% 51% / 47%)), url(../img/potosi.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: static;
}
.content-header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.content-header > img{
    width: 250px;
    animation: ease-in animationimg 1s;
}

@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


.copy{
    color:#fff
}

.content-header{
    font-weight: 300;
    margin: 14px;
    color: #5d6678;
}



nav{
    background: #4CAF50;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}

.text-header{
    display: flex;
    height: 385px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
     
}

.text-header h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.text-header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    padding-bottom: 10px;
}

.text-header button{ 
    color: #239a42;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 30px;
}
.wave-one{
    position: relative;
    background: url(../img/wave.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding-top: 15%;
    margin-top: -155px;
    
}

.title-into-wave{
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.wave-one p{
    color: #fff;
    text-align: center;
}

.main-us{
    margin-right: 0;
}
section.container.about-us {
    padding-bottom: 100px;
    background-color: #118615;
}

.dicen-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dicen-int{
    text-align: center;
    padding-top: 60px;
}

.dicen-int img{
    width: 190px;
    height: 190px;
    border-radius: 100%; 
}

.dicen-int h3{
    margin: 10px;
    color: #fff;
}
 
.dicen-int p{
    color: #fff;
    padding-left: 30px;
}

.container-bafri{
    background-color: #fff;
    height: 400px;
    width: 100%;  
}

.container.about-us{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-about-us{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    transition: all 3s;
}

.content-text h2{
    color: #118615;
    text-transform: uppercase;
    font-size: 40px;
}
.content-text p{
    color: #118615;
    width: 600px;
}

.content-text button{
    color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 0px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #118615;
}

.wave-two{
    background: url(../img/wave1.svg);
    width: 100%;
    height: 430px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    padding-top: 10%;

}

.title-two{
color: #fff;
font-size: 35px;
text-align: center;
padding-top: 7%;
margin-bottom: 30px;
text-transform: uppercase;
}
 

.wave-two p{
    color: #fff;
    text-align: center;
    width: 70%;
    padding-left: 30%;
}

.container-Estadistica {
    background-color: #118615; 
    padding-top: 20%;
    margin-top: -175px;
    display: flex;
    padding: 18%;
}
.pa{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    border-color: #fff;
    border: 3px solid;
    color: #fff;
    margin-left: 20px;
    margin-top: -50px;
    text-align: center;
    padding-top: 5%;
    font-size: 53px;
}

.container.Estadistica p{
    font-size: 55px; 
    text-align: center;
    padding-top: 29px;

}

.container{
    display: flex;
    padding-right: 10%;
    padding-left: 25px;
    padding-top: 5%;
    padding-bottom: 5%;   
}

.img-about{
    border-radius: 50%; 
    transition: all 1s;
}

.cont-text{
    padding-top: 95px;
}
.cont-text h2{
    font-family: fantasy;
    color: #118615;
    text-transform: uppercase;
    font-size: 40px;
}
.cont-text p{
    color: #118615;
    font-size: 30px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 12px
}
.cont-text button{
    color: #fff;
    padding: 10px 100px 10px 100px;
    border-radius: 30px;
    border: 0px;
    font-size: 36px;
    margin-top: 24px;
    background-color: #118615;
}

.container.phoebe{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
} 
 
.jaus{
    background: linear-gradient(to right, hsl(133deg 81% 50% / 52%), hsl(44deg 95% 51% / 47%)), url(../img/cerveza\ p.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
     
}

.img-fot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
     
}
.text{
    color: #fff;
    text-align: center;
}
.text p{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 30px;
    padding-top: 50px;
}
.text h2{
    font-size: 50px;
    padding-top: 30px;
    font-family: initial;
}

.wave-true{
    position: relative;
    background: url(../img/wave2.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding-top: -30px;
}
.contc{
    color: #118615;
    text-align: center;
    padding-top: 110px;
    font-family: initial;
    font-size: 55px;
    text-transform: uppercase;
}
.wave-true p{
    color: #118615;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 22px;
    padding-top: 10px;
}

section.container-contactos {
    padding-top: 80px;
}
section.container-contactos form{
    text-align: center; 
}


.wave-four{
    background: url(../img/wave\ 3.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: 10%;
}
.for{ 
    border-radius: 15px;
    text-align: center; 
}
.for-tex{
    width: 25%;
    height: 50px;
    border-radius: 5px;
    background-color: #c0f575;
}
.boton{
    width: 10%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-family: initial;
    border-radius: 25px;
    margin-left: -25px;
    background-color: #118615;
}

footer{
    background-color: black;
    width: 100%;
    color: #fff;
    display: flex;
}
.container-footer-all{
    width: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding: 20,0,0,0;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: space-evenly;
}
 
 

 .colum1{
     max-width: 300px;
     padding-left: 30px;
    padding-right: 30px;
 }
 .colum1 h2{
     font-size: 25px;
 }

 .colum1 p{
     font-size: 20px;
     margin-top: 20px;
 }
.colum1 img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
 .colum2{
    max-width: 250px;
    padding-left: 20px;
    padding-right: 25px;
 }
 .row{
     margin-top: 15px;
    
 }

 .colum3{
    max-width: 250px; 
    padding-left: 20px;
    padding-right: 25px;
 }

 .colum4{
    max-width: 250px;
    padding-left: 20px;
    padding-right: 25px;
 }

 .container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}

.copyright a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}